@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;600&family=IBM+Plex+Sans:wght@100&display=swap');

* {
  margin: 0 auto;
  padding: 0 auto;
}


/*-----Header - Nav Bar (Hamburguersa)------*/

.header {
    width: 100%;
  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'IBM Plex Mono-Medium', monospace;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
  }

  .header li a:active {
      color:rgba(6,10,36,0.56);
      text-decoration: line-through;
  }

  .header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    width: 24px;
    height: 24px;
  }

  /*------Menu - Nav Bar (Hamburguersa)------*/

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /*-------Menu Icon - Nav Bar (Hamburguersa)------*/

    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
      }

      .header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
      }

      .header .menu-icon .navicon:before,
      .header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }

      .header .menu-icon .navicon:before {
        top: 5px;
      }
      
      .header .menu-icon .navicon:after {
        top: -5px;
      }

    /*----------Menu Btn - Nav Bar (Hamburguersa)----------*/

      .header .menu-btn {
            display: none;
          }
          
      .header .menu-btn:checked ~ .menu {
            max-height: 260px;
            background-color: #0000EC;
            color: #FFFFFF;
          }

      .header .menu-btn:checked ~ .menu-icon .navicon {
            background: transparent;
          }
          
      .header .menu-btn:checked ~ .menu-icon .navicon:before {
            transform: rotate(-45deg);
          }
          
      .header .menu-btn:checked ~ .menu-icon .navicon:after {
            transform: rotate(45deg);
          }
          
      .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
            top: 0;
          }

        /*----------------Texto Top--------------*/

          .top_text {
            font-family: 'IBM Plex Sans',sans-serif;
            font-size: 25px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 52px;
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: 5px;
            text-align: left;
          }


          #top_p {
            font-family: 'IBM Plex Mono-Medium', monospace;
            font-size: 14px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 24px;
            margin: 10px;
            justify-content: center;
          }

          #btn_top {
              background-color: #00F3BB;
              border: none;
              width: 288px;
              height: 48px;
              font-family: 'IBM Plex Mono-Bold', monospace;
                font-size: 16px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 22px;
                margin-top: 30px;
                margin: 10px;
                margin-left: 5%;
              }


          #btn_top:hover {
            background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            color: white;
          }

          #btn_bottom:hover {
            background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            color: white;
          }


        /*---------------- Episodios--------------*/
       .episodios {
            position: relative;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 1203.5px;
            background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
            transform: skewY(-6deg);
            margin-top: 40px;
       }
          
       
           .episodios_front h1 {
            margin: 70px auto 30px 20px;
          }


          .episodios_front {
              font-family: 'IBM Plex Sans', sans-serif;
              font-size: 36px;
              color: #FFFFFF;
              letter-spacing: 0;
              line-height: 42px;
              display: grid;
              transform: skewY(6deg);
          }

            #iframes {
                display: grid;
                grid-template-columns: auto;
                grid-gap: 10px;
                padding: 10px;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
            }

            iframe {
                width: 100%; 
                height: 232px; 
                border: 0px; 
                background-color: transparent;
            }

    /*----------------Nosotros--------------*/

            
     .sobre_nosotros {
      position: relative;
      text-align: center;
    }

     .sobre_nosotros img {
      width: 100%;
      height: 100%;
      margin-top: -60px;
    }

    #sobre_nosotros h1 {
     margin-top: 40px;
     margin-left: 20px;
     font-family: 'IBM Plex Sans', sans-serif;
     font-size: 36px;
     color: #060A24;
     letter-spacing: 0;
     line-height: 42px;
     text-align: left;
     max-width: 200px;

  }

    #sobre_nosotros p {
       height: 204px;
       margin-left: 20px;
       font-family: 'IBM Plex Mono', monospace;
       font-size: 14px;
       color: #060A24;
       letter-spacing: 0;
       line-height: 24px;
       text-align: left;
       margin-top: 10px;
       max-width: 288px;
    }

    /*---------------- Invitados estelares--------------*/

    .invitados_estelares {
      position: relative;
      width: 100%;
    }

    .invitados_estelares h1 {
     font-family: 'IBM Plex Sans', sans-serif;
     font-size: 36px;
     color: #060A24;
     letter-spacing: 0;
     margin: 130px 20px auto 20px;
     max-width: 60px;
    }

    .invitados_estelares div {
     display: grid;
     grid: auto;
     margin-top: 20px;
     box-sizing: content-box;
    }

    .invitados_estelares img {
      width: 100%;
      height: 243px;
      box-sizing: border-box;
    }    
    
   /*--------------------Tópicos------------------*/

   .topicos {
    position: relative;
    }

  .topicos h1 {
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 36px;
   color: #060A24;
   letter-spacing: 0;
   line-height: 42px;
   margin: 40px auto 40px 20px;
   max-width: 250px;

  }

  .topicos_icons {
    display: grid;
    text-align: center;
  }

  .topicos_icons p {
   margin-top: 10px;
   font-family: 'IBM Plex Sans-SemiBold', sans-serif;
   font-weight: 600;
   font-size: 24px;
   color: #060A24;
   letter-spacing: 0;
   text-align: center;
   margin-bottom: 50px;
  }

/*-------------Newsletter------------*/


#newsletter {
 position: relative;
 width: 100%;
 height: 341px;
 background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
 clip-path: polygon(
                     100% 0,
                     100% 100%,
                     0 100%,
                     0 calc(100% - 75vw)
                   );
}

 .newsletter_content {
   text-align: center;
 }

 .newsletter_content h1 {
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 36px;
   color: #FFFFFF;
   letter-spacing: 0;
   text-align: center;
   line-height: 42px;
   max-width: 288px;
   padding-top: 70px;
 }

 #btn_bottom {
     background-color: #00F3BB;
     border: none;
     width: 288px;
     height: 48px;
     font-family: 'IBM Plex Mono-Medium', monospace;
     font-size: 16px;
     color: #060A24;
     letter-spacing: 0;
     text-align: center;
     line-height: 22px;
     margin-top: 40px;
    }


  /*-------------Footer------------*/

    .footer {
      display: grid;
      background-color: white;
  }

  .footer p {
    font-family: 'IBM Plex Mono-Medium', monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 30px;
}

footer ul {
  display: flex;
  padding: 10px;
}

footer li {
  text-decoration: none;
  display: flex;
  padding: 18px;
}

footer a {
  color: black;
}


    /*----------------------------------------------------------------*/
    /*-------------------------Desktop Size---------------------------*/
    /*----------------------------------------------------------------*/

          @media (min-width: 780px) {

            
              /*----------Header------------*/

            .header {
                display: inline-block;
            }
            
            .header li {
              float: left;
            }
            .header li a {
              padding: 20px 30px;
              color: #060A24;
            }
            .header .menu {
              clear: none;
              float: right;
              max-height: 240px;
            }
            .header .menu-icon {
              display: none;
            }
            .logo img {
              width: 36px;
              height: 36px;
            }
            .header li a:hover {
                color: #00F3BB;
                text-decoration: line-through;
                }
            .header li a:active {
                color:rgba(6,10,36,0.56);
                text-decoration: line-through;
                }

               /*------------Texto Top------------*/

               .top_text{
                 margin-bottom: 10px;
               }
               
               
               .top_text h1 {
                font-size: 64px;
                margin: 100px 0 0 250px;
              }
    
              #top_p {
                font-size: 16px;
                color: #060A24;
                max-width: 628px;
                margin: 0 0 auto 260px;
              }
    
              #btn_top  {
                  width: 226px;
                  height: 56px;
                  font-size: 18px;
                  margin: 60px auto auto 260px;
              }

              button {
                text-align: center;
              }

              #dot {
                color:#0000EC;
              }
                

                /*---------------- Episodios--------------*/

                /*Fondo*/
                .episodios {
                    height: 950px;
                    margin-top: 80px;
               }
               .episodios_front{
                 padding-top: 70px;
                 margin-left: 5%;
                 margin-right: 5%;
               }

               .episodios_front h1{
                 margin-left: 120px;
                 padding-top: 20px;
               }

                /*Podcasts Box*/
                #iframes {
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: 70px;
                    padding: 10px;

                 }

                 /*Podcasts*/
                 iframe {
                     width: 584px;
                     height: 232px;

                 }
                 
                /*---------------- Nosotros--------------*/


                 .sobre_nosotros {
                   display: flex;
                 }

                 .sobre_nosotros img {
                   width: 457.6px;
                   height: 660px;
                   margin-left: 200px;
                   margin-top: -100px;
                 }

                 #sobre_nosotros h1 {
                  font-size: 48px;
                  max-width: 399px;
                  margin-top: 100px;
                  margin-left: -100px;

               }

                 #sobre_nosotros p {
                    font-size: 16px;
                    margin-top: 30px;
                    margin-left: -100px;
                    max-width: 520px;
                 }

                /*---------------- Invitados estelares--------------*/


                 .invitados_estelares h1 {
                  font-size: 48px;
                  margin-left: 250px;
                  max-width: 100%;
                 }

                 .invitados_estelares div {
                  display: grid;
                  grid: 50% / auto auto auto;
                  margin-top: 30px;
                  max-width: 1440px;
                  box-sizing: content-box;
                 }

                 .invitados_estelares img {
                  width: 100%;
                  height: 364px;
                  box-sizing: border-box;
                 }

                /*---------------- Tópicos--------------*/


                 .topicos h1 {
                  font-size: 48px;
                  letter-spacing: 0;
                  margin-left: 140px;
                  padding-top: 20px;
                  max-width: 100%;

                 }

                 .topicos_icons {
                   display: flex;
                   margin-top: 80px;
                   margin-left: 150px;
                   margin-right: 150px;
                   text-align: center;
                 }

                 .topicos_icons p {
                  margin-top: 20px;
                  font-size: 24px;
                  letter-spacing: 0;
                  text-align: center;
                  max-width: 220px;
                 }

                 /*-----------Newsletter------------*/


                 #newsletter {
                  width: 100%;
                  height: 518px;
                  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
                  clip-path: polygon(
                                      100% 0,
                                      100% 100%,
                                      0 100%,
                                      0 calc(100% - 26vw)
                                    );
                 }


                  .newsletter_content h1 {
                    font-size: 48px;
                    letter-spacing: 0;
                    max-width: 100%;
                    padding-top: 220px;
                  }

                  #btn_bottom {
                      width: 345px;
                      height: 56px;
                      font-size: 18px;
                      letter-spacing: 0;
                      line-height: 24px;
                  }

                  /*------------Footer------------*/

                  .footer {
                    display: flex;
                    background-color: white;
                    vertical-align: middle;
                  }

                  footer{
                    justify-content: space-between;

                  }

                .footer p {
                  font-size: 16px;
                }

                .footer ul {
                  display: flex;
                  text-decoration: none;
                  padding: 10px;
                }

                .footer ul i {
                  padding: 10px;
                  width: 18px;
                  height: 28px;
                }

          }
    /*----------------------------------------------------------------*/
    /*-------------------------Mobile Small Size----------------------*/
    /*----------------------------------------------------------------*/

                  @media (max-width: 320px) {



                  }

